<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./../style.css">
    <title>Registrarse</title>
</head>
<body>
    <div class="conteiner-form login">
        <div class="informacion">
            <div class="info-recuadro">
                <h2>¡Registrate ahora!</h2>
                <p>Si ya tienes una cuenta, inicia sesión.</p>
                <a href="/"><input type="button" value="Iniciar Sesión"></a>
            </div>
        </div>
        <div class="form-info">
            <div class="form-info-recuadro">
                <h2>Registrarse</h2>
                <form class="formulario" action="/users" method="POST">
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre Completo" name="username" id="username">
                    </label>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Correo Electronico" name="email" id="email">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña" name="password" id="password">
                    </label>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </div>  
    <script src="script.js"></script>
</body>
</html>
