*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(9.jpg);
    background-size: cover;
}
.conteiner-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
    height: 500px;
    max-width: 900px;
    transition: all is ease;
    margin: 10px;

}

.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f7c2e9;
    border-top-left-radius:20px; 
    border-bottom-left-radius:20px ;

}
.info-recuadro{
    width: 100%;
    padding: 0 15%;
}
.info-recuadro h2{
    font-size: 2.5rem;
    color: #333;
}
.info-recuadro p{
    margin: 15px;
    color: #555;
}
.info-recuadro input{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-recuadro input:hover {
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.form-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-info-recuadro{
    padding: 0 30px;
}
.form-info-recuadro h2{
    color: #333;
    font-size: 2rem;

}
.form-info-recuadro p{
    color: #555;

}
.iconos{
    margin: 15px 0;

}
.iconos i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    border: solid thin #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.iconos i:hover{
    background-color: #f7c2e9;
    color: #fff;
}
.formulario{
    margin: 30px 0 0 0;
}
.formulario label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.formulario label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;

}
.formulario label i {
    color: #a7a7a7;
}
  
.formulario input[type="submit"] {

    margin-top: 10px;
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;

}
  
.formulario input[type="submit"]:hover {
    background-color: #f7c2e9;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}


/*RESPONSIVE FORM, si me pomgo a achicar se amolda*/
@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }
    
}
@media screen and (max-width:580px) {
    html{
        font-size: 10px;
    }
    .conteiner-form{
        height: auto;
        flex-direction: column;
    }
    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form-info{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}
